@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.nav-link {
  @apply relative font-bold text-white cursor-pointer text-[17px] w-fit md:block hidden;
}


.nav-link-mobile {
  @apply relative mb-[2rem] font-bold text-white cursor-pointer text-[27px] w-fit;
}

.nav-link-mobile::after {
  @apply block absolute h-[2px] w-full scale-x-0 transition duration-300 origin-center;
  content: '';
}

.nav-link-mobile:hover::after {
  @apply scale-x-100;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
