@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  --white: white;
  --black: #1d1d1d;
  --dark-grey: #33383f;
  --light-grey: #99a4af;
  --grey: #626a72;
  --gradient-red: #ff010126;
  --back-grey: #f5f6f7;
  --gradient-pink: #ef98cf40;
  --gradient-blue: #7aa7ff52;
  --dim-grey: #495158;
  --silver: #e7ecf0;
  --soft-grey: #cbd5df;
}

@media screen and (max-width: 320px) {
  #__next {
    display: flex
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

p {
  opacity: .9;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}

li {
  opacity: .9;
  font-size: 16px;
  font-weight: 400;
}


h3 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.4em;
}

.black-gradient {
  background-color: var(--black);
  background-image: radial-gradient(circle farthest-corner at 0% 50%, var(--gradient-red), #0000 47%), radial-gradient(circle farthest-corner at 40% 130%, #7aa7ff69, #0000 58%);
  color: var(--white);
}

.light-page-header {
  background-color: var(--back-grey);
  background-image: radial-gradient(circle at 0%, #ff010121, #0000 41%), radial-gradient(circle at 30% 150%, #7aa7ff3d, #0000 54%);
  padding-top: 96px;
  padding-bottom: 32px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #4d4c4c;
}

::-webkit-scrollbar-thumb {
  background: #f0ffd9;
  border-radius: 4px;
}

.utility-page-wrap {
  background-color: var(--black);
  color: var(--white);
  background-image: radial-gradient(circle at 50% 0, #ef98cf33, #0000 57%), radial-gradient(circle at 0 20%, #7aa7ff40, #0000 42%);
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 90vh;
  min-height: auto;
  max-height: 100%;
  padding: 20px;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 380px;
  display: flex;
  margin: 0 0 15px;
}