@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #4d4c4c;
}

::-webkit-scrollbar-thumb {
  background: #f0ffd9;
  border-radius: 4px;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}