.full-page-wrapper {
  background-color: var(--black);
  background-image: radial-gradient(circle farthest-corner at 100% 100%, var(--gradient-blue), transparent 44%), radial-gradient(circle farthest-corner at 0% 100%, var(--gradient-red), transparent 32%);
  width: 100%;
  max-width: none;
  padding: 24px 12px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-field {
  border: 1px solid var(--silver);
  background-color: var(--back-grey);
  border-radius: 9px;
  min-width: 120px;
  height: 44px;
  margin-bottom: 16px;
  padding: 19px 12px;
  font-size: 15px;
  line-height: 1.4em;
  transition: border-color .2s;
  display: block;
  width: 100%;
  color: #333;
  vertical-align: middle;
}

.button {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  border-radius: 9px;
  flex: none;
  margin-bottom: 8px;
  padding: 8px 28px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  transition: box-shadow .2s, transform .2s, border-color .2s, color .2s, background-color .2s;
  box-shadow: 0 2px #2020200d;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.button:hover {
  background-color: var(--dark-grey);
}

.form-card-footer {
  grid-column-gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
  margin-top: 12px;
  display: flex;
}

.below-card-link {
  color: var(--light-grey);
  margin-top: 24px;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  transition: color .2s;
}

.below-card-link:hover {
  color: var(--soft-grey);
}